<!DOCTYPE html>
<html>
<head>
    <title>Ayuda</title>
</head>

<body>
    <h1>CHAT IA</h1>
    <p>
        CHAT IA es una aplicación web, elaborada con Django, que permite crear conversaciones con una
        inteligencia artificial.
    </p>

    <p>El usuario puede: </p>
    <ul>
        <li>Iniciar sesion</li>
        <li>Crear conversaciones</li>
        <li>Enviar mensajes y recibir respuestas en tiempo real</li>
        <li>Cambiar el nombre a las conversaciones</li>
        <li>Eliminar conversaciones</li>
        <li>Personalizar su perfil</li>
    </ul>

    <p>Proyecto realizado con Python, Django, HTML, Bootstrap, OpenRouer API y SQLite</p>

    <a href="/" class="btn" style="background-color:white;color:black">Vovler</a>
</body>
</html>
